<table class="table" >
    <tr>
        <th>ID</th>
        <th>Name </th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Pwd</th>
        <th>Action</th>
    </tr>
    
    <tr  *ngFor="let c of teachers  " >
        
            <td >{{c._id}}</td>
            <td>{{c.fName}}</td>
            <td>{{c.lName}}</td>
            <td>{{c.email}}</td>
            <td>{{c.pwd}}</td>
            <td>
                
                <button class="btn btn-warning" (click)="goToEdit(c._id)">Edit</button>
                <button class="btn btn-warning" (click)="delete(c._id)">Delete</button>
                <button class="btn btn-warning" (click)="Display(c._id)">Display</button>

            </td>

      
       

    </tr>
</table>