
		<div class="contact_info_container">
			<div class="container">
				<div class="row">

					<!-- Contact Form -->
					<div class="col-lg-6">
						<div class="contact_form">
							<div class="contact_info_title">Edit Course</div>
							<form #editForm="ngForm" (ngSubmit)="editCourse()" >

								<div>
									<div class="form_title">Name</div>
									<input type="text"  class="form-control" [(ngModel)]="course.cName" name="name">
								</div>

                                <div>
									<div class="form_title">price</div>
									<input type="text"  class="form-control" [(ngModel)]="course.cPrice" name="price" >
								</div>
                                <div>
									<div class="form_title">description</div>
									<textarea class="comment_input comment_textarea" [(ngModel)]="course.cDesc" name="desc" required="required"></textarea>
								</div>
                                <div>
									<div class="form_title">places</div>
									<input type="text"  class="form-control" [(ngModel)]="course.cNbre" name="nbre" >
								</div>


								
							
								<div>
									<input type="submit" class="comment_button trans_200"  value="edit">
								</div>
							</form>
						</div>
					</div>
                </div>            